{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1470092306007-055b6797ca72?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{ current_user.name }}'s Blog</h1>
            <span class="subheading">A collection of your masterpieces.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% if all_posts %}
        {% for post in all_posts %}
        {% if post.author_id == current_user.id %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', post_id=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>

          <p class="post-meta">Posted by
            <a href="#">{{post.author.name}}</a>
            on {{post.date}}
            {% if current_user.is_authenticated and current_user.id == 1 %}
            <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>


            {% elif current_user.is_authenticated and current_user.id == post.author_id %}
             <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
            {% endif %}
          </p>
        </div>
        <hr>
        {% endif %}
        {% endfor %}
        {% else %}
        <div class="post-preview">
          <h2 class="post-title">
              You currently do not have any posts.
          </h2>

          </div>
        {% endif %}


       </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}
{% endblock %}